/* TODO: figure out why the styling isn't appearing maybe has to do with default styling of app */

body{
    display: flex;
}

header{
    font-size: large;
    justify-content: center;
}

.card-format{

}

aside{

}